/*! gaw-buttons - v1.0.44 - 2019-07-26 */

/**
 * Buttons
 */
/**
 * Variables
 */
/**
 * Colors
 */
/* CHIP */
/* GRIDLINE */
/* BUTTONS */
/* TOGGLE SWITCH */
/* DATEPICKER */
/* INPUT TAG */
/* SLIDER */
/* PAGINATION */
/* Forms */
/* ACCORDION */
.btn-inline {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .btn-inline + .btn-inline {
    margin-top: .75rem; }
  .btn-inline > .btn:not(:first-child) {
    margin-left: .5rem; }

.btn-group {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }
  .btn-group--spread > .btn {
    -ms-flex: 1;
        flex: 1; }
  .btn-group > .btn {
    margin-bottom: 0; }
    .btn-group > .btn:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .btn-group > .btn:not(:first-child) {
      border-left-color: rgba(0, 0, 0, 0.3);
      margin-left: -1px; }
    .btn-group > .btn:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .btn-group > .btn:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }

.btn {
  -ms-flex-align: center;
      align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.8125rem;
  font-weight: 500;
  -ms-flex-pack: center;
      justify-content: center;
  letter-spacing: .1px;
  margin-bottom: .75rem;
  min-height: 2.25rem;
  min-width: 2.25rem;
  padding: .25rem .75rem;
  text-decoration: none;
  text-transform: uppercase; }
  .btn:focus {
    outline: 2px dashed #007acc;
    outline-offset: 1px; }
  .btn:hover {
    text-decoration: none; }
    .btn:hover *:not(i) {
      text-decoration: none; }
  .btn > i {
    margin-left: -.25rem; }
    .btn > i::before {
      display: inline-block; }
    .btn > i:only-child {
      margin: 0 -9px; }
  .btn > span + i {
    margin-left: .25rem;
    margin-right: -.25rem; }
  .btn > i ~ span {
    margin-left: .5rem; }
  .btn--default {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: "Roboto"; }
    .btn--default[disabled] {
      background-color: rgba(64, 64, 64, 0.3);
      border-color: rgba(64, 64, 64, 0.3);
      color: white;
      pointer-events: none; }
    .btn--default.btn--line {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3); }
      .btn--default.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.3);
        transition: .3s; }
      .btn--default.btn--line[disabled] {
        color: rgba(51, 51, 51, 0.3); }
    .btn--default.btn--no-background {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3); }
      .btn--default.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.3);
        transition: .3s; }
      .btn--default.btn--no-background[disabled] {
        color: rgba(77, 76, 76, 0.3); }
    .btn--default.btn--no-line {
      border: 0px; }
    .btn--default:not(span):not([disabled]):hover {
      background-color: rgba(0, 0, 0, 0.3);
      border-color: rgba(0, 0, 0, 0.3);
      transition: .3s; }
    .btn--default.active {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
      border-color: rgba(0, 0, 0, 0.3); }
    .btn--default:hover {
      color: #fff; }
  .btn--primary {
    background-color: #007acc;
    border-color: #007acc;
    color: #fff;
    font-family: "Roboto"; }
    .btn--primary[disabled] {
      background-color: #4db7ff;
      border-color: #4db7ff;
      color: white;
      pointer-events: none; }
    .btn--primary.btn--line {
      background-color: transparent;
      color: #007acc; }
      .btn--primary.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #003d66;
        transition: .3s; }
      .btn--primary.btn--line[disabled] {
        color: #33adff; }
    .btn--primary.btn--no-background {
      background-color: transparent;
      color: #007acc; }
      .btn--primary.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #003d66;
        transition: .3s; }
      .btn--primary.btn--no-background[disabled] {
        color: #66c2ff; }
    .btn--primary.btn--no-line {
      border: 0px; }
    .btn--primary:not(span):not([disabled]):hover {
      background-color: #005c99;
      border-color: #005c99;
      transition: .3s; }
    .btn--primary.active {
      color: #fff;
      background-color: #005c99;
      border-color: #00558f; }
    .btn--primary:hover {
      color: #fff; }
  .btn--success {
    background-color: #5f8a2e;
    border-color: #5f8a2e;
    color: #fff;
    font-family: "Roboto"; }
    .btn--success[disabled] {
      background-color: #9fcd6a;
      border-color: #9fcd6a;
      color: white;
      pointer-events: none; }
    .btn--success.btn--line {
      background-color: transparent;
      color: #5f8a2e; }
      .btn--success.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #2a3e15;
        transition: .3s; }
      .btn--success.btn--line[disabled] {
        color: #93c757; }
    .btn--success.btn--no-background {
      background-color: transparent;
      color: #5f8a2e; }
      .btn--success.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #2a3e15;
        transition: .3s; }
      .btn--success.btn--no-background[disabled] {
        color: #abd47d; }
    .btn--success.btn--no-line {
      border: 0px; }
    .btn--success:not(span):not([disabled]):hover {
      background-color: #456421;
      border-color: #456421;
      transition: .3s; }
    .btn--success.active {
      color: #fff;
      background-color: #456421;
      border-color: #3f5c1f; }
    .btn--success:hover {
      color: #fff; }
  .btn--warning {
    background-color: #d38312;
    border-color: #d38312;
    color: #fff;
    font-family: "Roboto"; }
    .btn--warning[disabled] {
      background-color: #f3bd72;
      border-color: #f3bd72;
      color: white;
      pointer-events: none; }
    .btn--warning.btn--line {
      background-color: transparent;
      color: #d38312; }
      .btn--warning.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #75490a;
        transition: .3s; }
      .btn--warning.btn--line[disabled] {
        color: #f1b25a; }
    .btn--warning.btn--no-background {
      background-color: transparent;
      color: #d38312; }
      .btn--warning.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #75490a;
        transition: .3s; }
      .btn--warning.btn--no-background[disabled] {
        color: #f5c889; }
    .btn--warning.btn--no-line {
      border: 0px; }
    .btn--warning:not(span):not([disabled]):hover {
      background-color: #a4660e;
      border-color: #a4660e;
      transition: .3s; }
    .btn--warning.active {
      color: #fff;
      background-color: #a4660e;
      border-color: #9b600d; }
    .btn--warning:hover {
      color: #fff; }
  .btn--danger {
    background-color: #ec3936;
    border-color: #ec3936;
    color: #fff;
    font-family: "Roboto"; }
    .btn--danger[disabled] {
      background-color: #f7acaa;
      border-color: #f7acaa;
      color: white;
      pointer-events: none; }
    .btn--danger.btn--line {
      background-color: transparent;
      color: #ec3936; }
      .btn--danger.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #ac1310;
        transition: .3s; }
      .btn--danger.btn--line[disabled] {
        color: #f59593; }
    .btn--danger.btn--no-background {
      background-color: transparent;
      color: #ec3936; }
      .btn--danger.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #ac1310;
        transition: .3s; }
      .btn--danger.btn--no-background[disabled] {
        color: #f9c3c2; }
    .btn--danger.btn--no-line {
      border: 0px; }
    .btn--danger:not(span):not([disabled]):hover {
      background-color: #da1815;
      border-color: #da1815;
      transition: .3s; }
    .btn--danger.active {
      color: #fff;
      background-color: #da1815;
      border-color: #d11714; }
    .btn--danger:hover {
      color: #fff; }
  .btn--featured {
    background-color: #673ab7;
    border-color: #673ab7;
    color: #fff;
    font-family: "Roboto"; }
    .btn--featured[disabled] {
      background-color: #ae94dd;
      border-color: #ae94dd;
      color: white;
      pointer-events: none; }
    .btn--featured.btn--line {
      background-color: transparent;
      color: #673ab7; }
      .btn--featured.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #3b216a;
        transition: .3s; }
      .btn--featured.btn--line[disabled] {
        color: #9f80d7; }
    .btn--featured.btn--no-background {
      background-color: transparent;
      color: #673ab7; }
      .btn--featured.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #3b216a;
        transition: .3s; }
      .btn--featured.btn--no-background[disabled] {
        color: #bda7e3; }
    .btn--featured.btn--no-line {
      border: 0px; }
    .btn--featured:not(span):not([disabled]):hover {
      background-color: #512e90;
      border-color: #512e90;
      transition: .3s; }
    .btn--featured.active {
      color: #fff;
      background-color: #512e90;
      border-color: #4d2b89; }
    .btn--featured:hover {
      color: #fff; }
  .btn--dark {
    background-color: #455a64;
    border-color: #455a64;
    color: #fff;
    font-family: "Roboto"; }
    .btn--dark[disabled] {
      background-color: #819ba8;
      border-color: #819ba8;
      color: white;
      pointer-events: none; }
    .btn--dark.btn--line {
      background-color: transparent;
      color: #455a64; }
      .btn--dark.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #1b2428;
        transition: .3s; }
      .btn--dark.btn--line[disabled] {
        color: #728f9d; }
    .btn--dark.btn--no-background {
      background-color: transparent;
      color: #455a64; }
      .btn--dark.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #1b2428;
        transition: .3s; }
      .btn--dark.btn--no-background[disabled] {
        color: #90a7b2; }
    .btn--dark.btn--no-line {
      border: 0px; }
    .btn--dark:not(span):not([disabled]):hover {
      background-color: #303f46;
      border-color: #303f46;
      transition: .3s; }
    .btn--dark.active {
      color: #fff;
      background-color: #303f46;
      border-color: #2c3940; }
    .btn--dark:hover {
      color: #fff; }
  .btn--light {
    background-color: #fff;
    border-color: #fff;
    color: #455a64;
    font-family: "Roboto"; }
    .btn--light[disabled] {
      background-color: white;
      border-color: white;
      color: #819ba8;
      pointer-events: none; }
    .btn--light.btn--line {
      background-color: transparent;
      color: #fff; }
      .btn--light.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #cccccc;
        transition: .3s; }
      .btn--light.btn--line[disabled] {
        color: white; }
    .btn--light.btn--no-background {
      background-color: transparent;
      color: #fff; }
      .btn--light.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #cccccc;
        transition: .3s; }
      .btn--light.btn--no-background[disabled] {
        color: white; }
    .btn--light.btn--no-line {
      border: 0px; }
    .btn--light:not(span):not([disabled]):hover {
      background-color: #e6e5e5;
      border-color: #e6e5e5;
      transition: .3s; }
    .btn--light.active {
      color: #455a64;
      background-color: #e6e5e5;
      border-color: #e0e0e0; }
    .btn--light:hover {
      color: #455a64; }
  .btn--secondary {
    background-color: #007acc;
    border-color: #007acc;
    color: #fff;
    font-family: "Roboto"; }
    .btn--secondary[disabled] {
      background-color: #4db7ff;
      border-color: #4db7ff;
      color: white;
      pointer-events: none; }
    .btn--secondary.btn--line {
      background-color: transparent;
      color: #007acc; }
      .btn--secondary.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #003d66;
        transition: .3s; }
      .btn--secondary.btn--line[disabled] {
        color: #33adff; }
    .btn--secondary.btn--no-background {
      background-color: transparent;
      color: #007acc; }
      .btn--secondary.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #003d66;
        transition: .3s; }
      .btn--secondary.btn--no-background[disabled] {
        color: #66c2ff; }
    .btn--secondary.btn--no-line {
      border: 0px; }
    .btn--secondary:not(span):not([disabled]):hover {
      background-color: #005c99;
      border-color: #005c99;
      transition: .3s; }
    .btn--secondary.active {
      color: #fff;
      background-color: #005c99;
      border-color: #00558f; }
    .btn--secondary:hover {
      color: #fff; }
  .btn--tertiary {
    background-color: #007acc;
    border-color: #007acc;
    color: #fff;
    font-family: "Roboto"; }
    .btn--tertiary[disabled] {
      background-color: #4db7ff;
      border-color: #4db7ff;
      color: white;
      pointer-events: none; }
    .btn--tertiary.btn--line {
      background-color: transparent;
      color: #007acc; }
      .btn--tertiary.btn--line:not([disabled]):hover {
        background-color: transparent;
        color: #003d66;
        transition: .3s; }
      .btn--tertiary.btn--line[disabled] {
        color: #33adff; }
    .btn--tertiary.btn--no-background {
      background-color: transparent;
      color: #007acc; }
      .btn--tertiary.btn--no-background:not([disabled]):hover {
        background-color: transparent;
        color: #003d66;
        transition: .3s; }
      .btn--tertiary.btn--no-background[disabled] {
        color: #66c2ff; }
    .btn--tertiary.btn--no-line {
      border: 0px; }
    .btn--tertiary:not(span):not([disabled]):hover {
      background-color: #005c99;
      border-color: #005c99;
      transition: .3s; }
    .btn--tertiary.active {
      color: #fff;
      background-color: #005c99;
      border-color: #00558f; }
    .btn--tertiary:hover {
      color: #fff; }
  .btn--filter {
    color: inherit;
    text-transform: none; }
    .btn--filter:focus {
      background-color: rgba(184, 193, 200, 0.5); }
  .btn--link {
    color: inherit;
    padding-left: .5rem;
    padding-right: .5rem; }
    .btn--link:hover {
      color: #005c99; }
    .btn--link > i:only-child {
      padding: 0 .5rem; }
    .btn--link.btn {
      background-color: unset;
      border: none;
      color: #263238; }
      .btn--link.btn:hover {
        background-color: unset !important; }
      .btn--link.btn--default {
        background-color: unset;
        border: none;
        color: #007acc; }
        .btn--link.btn--default:hover {
          background-color: unset !important; }
      .btn--link.btn--danger {
        background-color: unset;
        border: none;
        color: #ec3936; }
        .btn--link.btn--danger:hover {
          background-color: unset !important; }
    .btn--link[disabled] {
      color: #b3b2b2; }
  .btn--icon {
    border: 0;
    color: inherit;
    margin: 0;
    min-height: 0;
    min-width: 0;
    padding: 0; }
    .btn--icon:hover {
      background-color: transparent;
      color: #4d4c4c; }
    .btn--icon:not(:last-child) {
      margin-right: .5rem; }
    .btn--icon[disabled] {
      color: #b3b2b2; }
  .btn--xs {
    font-size: .75rem;
    min-height: 1.5rem;
    line-height: 1rem;
    padding: .125rem .5rem;
    min-width: 1.5rem; }
  .btn--sm {
    min-height: 2rem;
    min-width: 2rem; }
  .btn--lg {
    font-size: 15px;
    min-height: 3rem;
    min-width: 3rem; }
    .btn--lg > i:only-child {
      margin: 0 -5px; }
  .btn--block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    width: 100%; }
    .btn--block + .btn--block {
      margin-top: 1rem; }
    .btn--block > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .btn--rounded {
    border-radius: 5rem; }
  .btn--top {
    -ms-flex-direction: column;
        flex-direction: column; }
    .btn--top > i {
      margin-left: 0; }
      .btn--top > i ~ span {
        margin-left: 0; }
