/*! gaw-forms - v1.0.30 - 2019-03-15 */

/**
 * Form
 */
/**
 * Variables
 */
/**
 * Colors
 */
/**
 * Prefixes
 */
/**
 * Help Block
 */
.help-block {
  color: #959595;
  display: block;
  font-size: .825rem;
  font-weight: normal;
  line-height: 1rem;
  margin-top: .25rem;
  width: 100%; }

.help-block.text-danger {
  color: #a94442;
}

.has-success .form-input {
  border-color: #5f8a2e; }

.has-success .help-block {
  color: #5f8a2e; }

.has-warning .form-input {
  border-color: #d38312; }

.has-warning .help-block {
  color: #d38312; }

.has-error .form-input {
  border-color: #ec3936; }

.has-error .help-block {
  color: #ec3936; }

.form-inline {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .form-inline > .form-input:not(:first-child), .form-inline > .form-field:not(:first-child) {
    margin-left: .5rem; }
  .form-inline > .btn {
    margin-left: .5rem; }
  .form-inline > .btn {
    margin-bottom: 0; }

.form-field {
  color: #777777;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  text-align: left; }
  .form-field:not(.row) {
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column; }
  .form-field .row {
    width: 100%; }

.form-group {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .form-group > input:not(:first-of-type) {
    margin-left: -1px; }
  .form-group > input:not(:only-of-type):first-of-type {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .form-group > input:not(:only-of-type):not(:first-of-type):not(:last-of-type) {
    border-radius: 0; }
  .form-group > input:not(:only-of-type):last-of-type {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .form-group > input + select {
    margin-left: 1rem; }
  .form-group > input + i {
    left: auto;
    margin-left: -1.5rem;
    margin-right: 0;
    position: relative;
    right: .5rem;
    top: auto;
    transform: none; }
  .form-group > i {
    color: #959595;
    left: .75rem;
    margin-right: -1.3rem;
    position: relative;
    top: .75rem;
    transform: translateY(-50%);
    z-index: 10; }
    .form-group > i.spin {
      top: calc(50% - 12px); }
    .form-group > i + .form-input {
      padding-left: 2.75rem; }
      .form-group > i + .form-input > select {
        padding-left: 0; }
  .form-group > input ~ .btn,
  .form-group > i ~ .btn,
  .form-group > .btn ~ input,
  .form-group > .btn ~ input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -2px; }
  .form-group > select + select,
  .form-group > select + input {
    margin-left: 1rem; }
  .form-group > .btn {
    margin-bottom: 0; }

.form-filter {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0; }
  .form-filter .form-input,
  .form-filter .form-field {
    background-color: transparent; }
    .form-filter .form-input ~ .form-input,
    .form-filter .form-input ~ .form-field,
    .form-filter .form-field ~ .form-input,
    .form-filter .form-field ~ .form-field {
      margin-left: .25rem; }
  .form-filter > .btn {
    margin-bottom: 0; }

.form-input {
  background-color: #fff;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  color: #263238;
  font-size: .875rem;
  font-weight: 400;
  height: 2.25rem;
  letter-spacing: .1px;
  line-height: 1.25rem;
  outline: 0;
  padding: .325rem .75rem;
  width: 100%; }
  .form-input::-moz-placeholder {
    color: #959595;
    opacity: 1; }
  .form-input:-ms-input-placeholder {
    color: #959595; }
  .form-input::-webkit-input-placeholder {
    color: #959595; }
  .form-input[disabled] {
    opacity: 0.6 !important;
    color: rgba(38, 50, 56, 0.6) !important;
    font-style: italic;
    pointer-events: none; }
    .form-input[disabled] > select {
      color: rgba(38, 50, 56, 0.6) !important; }
  .form-input[type='search'] {
    box-sizing: inherit; }
  .form-input--lg {
    font-size: 1rem;
    height: 3rem;
    line-height: 1.5rem; }
  .form-input:focus, .form-input:focus-within {
    outline: 2px dashed #007acc;
    outline-offset: 1px; }

div.form-input {
  overflow: hidden;
  padding: 0 1.6rem 0 0;
  position: relative; }
  div.form-input::before {
    content: '\e5c5';
    font-family: 'Material Icons';
    font-size: 1.5rem;
    margin-top: -10px;
    position: absolute;
    right: .25rem;
    top: 50%; }
  div.form-input > select::-ms-expand {
    display: none; }
  div.form-input > select {
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: #263238;
    height: 2.25rem;
    outline: 0;
    padding-left: .75rem;
    padding-right: 2.5rem;
    position: relative;
    top: -1px;
    width: inherit;
    z-index: 3; }
    div.form-input > select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
    div.form-input > select::-ms-expand {
      display: none; }

div.form-input select {
  -moz-appearance: none;
  appearance: none;
  width: calc(100% + 3rem); }

.form-text {
  color: #263238;
  font-size: 1rem;
  padding: .5rem 0; }

textarea.form-input {
  display: -ms-flexbox;
  display: flex;
  height: auto;
  resize: vertical; }

fieldset {
  border-color: #b7b7b7;
  border-radius: 3px;
  padding: .2rem 0.75em 0.6em;
  text-align: left; }

legend {
  font-size: .9375rem;
  line-height: 1.5rem;
  margin-left: -.25rem;
  padding: 0 .25rem; }

label {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  font-size: .875rem;
  line-height: 1.5rem; }
  label.form-inline:not(.form-field) + label {
    margin-left: 1rem; }

input[type='checkbox'], input[type='radio'] {
  margin-right: .25rem; }
  input[type='checkbox'] + span, input[type='radio'] + span {
    color: #263238; }

.form-checkbox,
.form-radio {
  position: relative; }
  .form-checkbox.form-inline,
  .form-radio.form-inline {
    margin-top: .3rem; }
  .form-checkbox:focus-within,
  .form-radio:focus-within {
    outline: 2px dashed #007acc;
    outline-offset: 1px; }
  .form-checkbox > input,
  .form-radio > input {
    opacity: 0; }
    .form-checkbox > input[disabled] + span,
    .form-radio > input[disabled] + span {
      opacity: .4; }
      .form-checkbox > input[disabled] + span::before,
      .form-radio > input[disabled] + span::before {
        background-color: transparent !important;
        border-color: #848484; }
    .form-checkbox > input + span,
    .form-radio > input + span {
      margin-left: .5rem;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none; }
      .form-checkbox > input + span::before,
      .form-radio > input + span::before {
        border: 2px solid #455a64;
        content: '';
        height: 16px;
        margin-left: -1.5rem;
        margin-top: 4px;
        padding: 3px 2px;
        position: absolute;
        width: 16px; }

.form-checkbox > input:checked[disabled] + span::before {
  color: #007acc; }

.form-checkbox > input:checked[disabled] + span::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0ibTE1NTEuNzMgMjY0LjI0Yy0yNS42My0yNS42NDctNjcuNjctMjUuNjQ3LTkzLjMxIDBsLTgyNy42NyA4MjcuNzJjLTI1LjY0NyAyNS42NDctNjcuNjcgMjUuNjQ3LTkzLjMxIDBsLTIwMy44NS0yMDMuODRjLTI1LjY0Ny0yNS42NDctNjcuNjctMjUuNjQ3LTkzLjMxIDBsLTEyNS4wMyAxMjUuMDljLTI1LjY0NyAyNS42NDctMjUuNjQ3IDY3LjY3IDAgOTMuMzFsNDIyLjIgNDIyLjExYzI1LjY0NyAyNS42NDcgNjcuNjcgMjUuNjQ3IDkzLjMxIDBsMTA0Ni4wMS0xMDQ2LjA2YzI1LjY2NC0yNS42NjQgMjUuNjY0LTY3LjY3IDAtOTMuMzNsLTEyNS4wMy0xMjUuMDEiIGZpbGw9IiMwMDdhY2MiLz48L2c+PC9zdmc+"); }

.form-checkbox > input:checked + span {
  position: relative; }
  .form-checkbox > input:checked + span::before {
    -ms-flex-align: center;
        align-items: center;
    background-color: #007acc;
    border-color: #007acc;
    color: #fff;
    content: '';
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: sans-serif; }
  .form-checkbox > input:checked + span::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0ibTE1NTEuNzMgMjY0LjI0Yy0yNS42My0yNS42NDctNjcuNjctMjUuNjQ3LTkzLjMxIDBsLTgyNy42NyA4MjcuNzJjLTI1LjY0NyAyNS42NDctNjcuNjcgMjUuNjQ3LTkzLjMxIDBsLTIwMy44NS0yMDMuODRjLTI1LjY0Ny0yNS42NDctNjcuNjctMjUuNjQ3LTkzLjMxIDBsLTEyNS4wMyAxMjUuMDljLTI1LjY0NyAyNS42NDctMjUuNjQ3IDY3LjY3IDAgOTMuMzFsNDIyLjIgNDIyLjExYzI1LjY0NyAyNS42NDcgNjcuNjcgMjUuNjQ3IDkzLjMxIDBsMTA0Ni4wMS0xMDQ2LjA2YzI1LjY2NC0yNS42NjQgMjUuNjY0LTY3LjY3IDAtOTMuMzNsLTEyNS4wMy0xMjUuMDEiIGZpbGw9IiNmZmYiLz48L2c+PC9zdmc+");
    content: '';
    height: 8px;
    left: -20px;
    position: absolute;
    top: 8px;
    width: 8px; }

.form-checkbox > input + span::before {
  border-radius: 2px; }

.form-radio > input:checked + span {
  position: relative; }
  .form-radio > input:checked + span::before {
    border-color: #007acc; }
  .form-radio > input:checked + span::after {
    background-color: #007acc;
    border-radius: 50%;
    content: '';
    height: 8px;
    left: -20px;
    position: absolute;
    top: 8px;
    width: 8px; }

.form-radio > input + span::before {
  border-radius: 50%; }
